.cardBox {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.likeStyle {
    font-family: "Cairo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.dateStyle {
    margin: 0;
    padding: 0;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #8F8F8F;
}

.contentStyle {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.leftStyling {
    background: rgba(221, 221, 221, 0.35);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.rightStyling {
    padding: 0px 20px 10px 20px;
}