.view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("/img/login/login.png");
  background-repeat: no-repeat;
}

.gridContainer {
  width: 100vw;
  height: 100vh;
}

.loginTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 22px;
  /* or 34% */
  display: flex;
  align-items: center;
  color: #000000;
}

.loginContent {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  display: flex;
  align-items: center;
  color: #000000;
}

.halfDivider {
  border: 0.75px solid rgba(0, 0, 0, 0.4);
  display: flex;
  margin: auto;
}

.dividerContent {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 157% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #868686;
  justify-content: center;
  width: 100%;
}

.alignDivider {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.leftContent {
  overflow: scroll;
  overflow-x: hidden;

  /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.leftContent::-webkit-scrollbar {
  display: none;
}

.containerSpacing {
  width: 100vw;
  height: 100vh;
}

.formStyle {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  /* Primary/Brainstorming White */
  background: #ffffff;
  /* Brainstorming Black/Transparent/24% */
  border: 1px solid rgba(102, 102, 102, 0.24);
  box-sizing: border-box;
  /* Shadows/Buttons/Button - 4dp - Shadow */
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 40px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
  height: 50px;
}

.formStyle:focus {
  border-radius: 40px;
}

.labelStyle {
  font-family: "Cairo";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  /* Primary/Brainstorming Black */
  color: #121212;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.loginButton {
  width: 100%;
  height: 72px;
  background: #3627e4;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.loginButtonContent {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 22px;
  /* or 92% */
  color: #ffffff;
}

.registerInfo {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 157% */
  display: flex;
  align-items: center;
  /* Primary/Brainstorming Black */
  color: #121212;
}

.linkToRegister {
  color: #1b24f0;
}

.trademark {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 157% */
  display: flex;
  align-items: center;
  color: #868686;
}
