@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.gridContainerStyle {
    display: flex;
    align-items: center;
}

.formStyle {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    /* Primary/Brainstorming White */
    background: #FFFFFF;
    /* Brainstorming Black/Transparent/24% */
    border: 1px solid rgba(102, 102, 102, 0.24);
    box-sizing: border-box;
    /* Shadows/Buttons/Button - 4dp - Shadow */
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    height: 50px;
}

.formStyle:focus {
    border-radius: 40px;
}

.labelStyle {
    font-family: "Cairo";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Primary/Brainstorming Black */
    color: #121212;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.profileLogo {
    /* Frame 9 */
    width: 150px;
    height: 150px;
    background: #6750A4;
    border-radius: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.profileLogo span {
    font-family: Lato;
    font-style: light;
    /* font-weight: 900; */
    font-size: 72px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #fff;
}

.gridItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.loginButton {
    width: 100%;
    height: 72px;
    background: #3627E4;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    clear: both;
    float: left;
    text-transform: none;
}

button.loginButton:hover {
    all: 'unset';
    transition: 'none';
    background-color: #3627E4;
    transform: 'none';
}

button.loginButton span.loginButtonContent {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    /* or 92% */
    color: #FFFFFF;
}

button.loginButton span.loginButtonContent:hover {
    all: 'unset';
    transition: 'none';
    background-color: #3627E4;
    transform: 'none';
}

button.changePasswordButton {
    width: 100%;
    height: 72px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    clear: both;
    float: left;
    background-color: #DCDCDC;
    /* Shadows/Buttons/Button - 4dp - Shadow */
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 30px;
    text-transform: none;
}

button.changePasswordButton span.changePasswordButtonContent {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.modalStyling {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%; -50%)';
    width: 400;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
    padding: 4px;
}